<div class="helpbox">
<h4 class="inline"><span class="glyphicon glyphicon-pencil"></span>Contact us</h4>
<h1 class="divider"></h1>
<div class="panel panel-default sm_break">
	<div class="panel-body">
		<p>We welcome any comments questions or suggestions you may have that will allow us to serve you better. If you have any questions or suggestions, please feel free to e-mail us anytime at <a href="mailto:info@keepmarx.com">info@keepmarx.com</a>
		</p>	
	</div>
</div>
</div>