<span class="glyphicon glyphicon-star"></span>
<h4 class="inline">
	 <%= @arrUserAttrib[2] %>'s follows
  </h4>

<h1 class="divider"></h1>

<%= render ("shared/follows") %>

<h1 class="divider"></h1>